#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
}

#login-box {
    min-width: 40vw;
    min-height: 50vh;
    background-color: var(--secondary-color);
    border-radius: 15px;
    overflow: hidden;
}

#login-box-title {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
}