<div id="login-body">
    <div id="login-box">
        <div id="login-box-title">
            <p>Login</p>
        </div>

        <div id="login-box-form">
            <div id="login-box-form-username">
                <input type="text" placeholder="Email or Username" autocomplete="false"/>
            </div>

            <div id="login-box-form-password">
                <input type="password" placeholder="Password" autocomplete="false"/>
            </div>

            <div id="login-box-form-submit">
                <input type="button" value="login" id="login-box-form-submit-button" />
            </div>

            <div id="login-box-form-signup">
                <p>Don't have an account? </p>
                <input type="button" value="Sign Up" />
            </div>
        </div>
    </div>
</div>