<div id="login-body">
    <div id="login-box">
        <div id="login-box-title">
            <p>Login</p>
        </div>

        <div id="login-box-form">
            <input id="login-box-form-username" class="form-edit" type="text" placeholder="Email or Username" autocomplete="false"/>

            <input id="login-box-form-password" class="form-edit" type="password" placeholder="Password" autocomplete="false"/>

            <input id="login-box-form-submit" type="button" value="login" id="login-box-form-submit-button" />


            <div id="login-box-form-signup">
                <p>Don't have an account? </p>
                <input id="login-box-form-signup-button" type="button" value="Sign Up" />
            </div>
        </div>
    </div>
</div>

<script src="/js/Login.js"></script>